 // media queries
 @mixin MQ($canvas) {
   @if $canvas == S {
    @media only screen and (min-width: $S) { @content; } 
   }
   @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; } 
   }
   @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; } 
   }
 }

// super light grid - it works with the .cd-container class inside style.scss
 @mixin column($percentage, $float-direction:left) {
   width: 100% * $percentage;
   float: $float-direction;
 }

// tablet view
@media all and (min-width: $M) {
  body{
    margin-bottom: .5em;
  }
  .intro header{
    height: 60vw;
    margin-top: -25%;
    padding-bottom: $tablet-padding-medium;
    margin-bottom: .5em;
  }
  .summary{
  width: 58vw;
  height: 58vw;
  padding: $tablet-padding-medium;
  margin-bottom: .5em;
  margin-right: 35%;
}
  .preamble {
  width: 100vw;
  height: 100vw;
  padding: $tablet-padding-medium;
  margin-bottom: .5em;
}
  .preamble > *{
    max-width: 90vw;
    
  }
  .explanation{
  width: 120vw;
  height: 120vw;
  padding: $tablet-padding-medium;
  margin-bottom: .5em;
}
  
  .participation {
    padding: $tablet-padding-big;
    width: 130vw;
    height: 130vw;
    margin-bottom: .5em;
  }
  
  .benefits {
    padding: $tablet-padding-big;
    width: 75vw;
    height: 75vw;
    margin-bottom: .5em;
  }
  .requirements {
    padding: $tablet-padding-medium;
    width: 160vw;
    height: 160vw;
    margin-bottom: .5em;
  }
  .design-selection {
    padding: $tablet-padding-small;
    width: 50vw;
    height: 50vw;
    margin-top: .5em;
  }
  .design-archives {
    padding: $tablet-padding-small;
    width: 45vw;
    height: 45vw;
    margin-left: 45%;
  }
  .zen-resources {
    padding: $tablet-padding-small;
    width: 50vw;
    height: 50vw;
    margin: -10% 45% 0 10%;
  }
  
  
}

// large view
  @media all and (min-width: $L) {
    
    .intro header {
      max-width: $L;
      height: $L;
      padding-bottom: 5%;
    } //over 1750 pixels words go away... can we fix this?

    .summary {
      align-self: flex-start;
      max-width: 40em;
      max-height: 40em;
    }

    .preamble {
      align-self: flex-end;
      max-width: 55em;
      max-height: 55em;
      margin-top: -10%;
    }

    .participation {
      align-self: flex-start;
      max-width: 65em;
      max-height: 65em;
    }

    .benefits {
      align-self: flex-end;
      max-width: 50em;
      max-height: 50em;
    }

    .requirements {
      max-width: 90em;
      max-height: 90em;
    }

    .explanation {
      max-width: 60em;
      max-height: 60em;
      align-self: flex-start;
    }

    .design-selection {
      max-width: 55em;
      max-height: 55em;
      align-self: flex-end;
    }

    .design-archives {
      max-width: $M;
      max-height: $M;
      align-self: flex-start;
    }

    .zen-resources {
      max-width: 20em;
      max-height: 20em;
      margin-bottom: 10%;
    }

  }