// color palette - these colors will be the color swatches of the Colors section

$color-1: #5f86b1; //
$color-2: #94999e; // text
$color-3: #d6e3ea; //
$color-4: #f3d077; //
$color-5: #2f4260; // background
$color-6: #000000; // black

