* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

/* --------------------------------

xBackground

-------------------------------- */

body::before,
body,
body::after {
  width: 100%;
  height: 100%; }

body {
  z-index: 0;
  background: #000 url("stars.0bccd6c6.png") repeat top center; }

body::before {
  content: '';
  position: fixed;
  display: block;
  z-index: 1;
  background: transparent url("twinkling.d54e9207.png") repeat top center;
  animation: move-twink-back 200s linear infinite; }

body::after {
  content: '';
  position: fixed;
  display: block;
  z-index: 2;
  background: transparent url("clouds.abca5d73.png") repeat top center;
  animation: move-clouds-back 200s linear infinite; }

body > * {
  z-index: 3;
  position: relative; }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }

/* end background */

/* containers */

.page-wrapper {
  overflow-x: hidden; }

.page-wrapper,
.intro,
.main,
.sidebar > .wrapper {
  display: flex;
  flex-direction: column; }

.intro,
.main,
.sidebar > .wrapper {
  align-items: center;
  justify-content: center; }

.intro > *,
.main > *,
.sidebar > .wrapper > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.sidebar h3 {
  margin-bottom: 0; }

.sidebar ul {
  margin-top: 0.5em; }

.intro header {
  justify-content: flex-end;
  background-color: orange;
  width: calc(100vw - (100vw - 100%));
  height: 100vw;
  border-radius: 50%;
  padding-bottom: 15%;
  margin-top: -50vw; }

.summary {
  width: 68vw;
  height: 68vw;
  border-radius: 50%;
  padding: 14.65%;
  background-color: red; }

.preamble {
  width: 125vw;
  height: 125vw;
  border-radius: 50%;
  background-color: blue;
  padding: 14.65%; }

.preamble > * {
  max-width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem; }

.explanation {
  order: 4;
  width: 130vw;
  height: 130vw;
  border-radius: 50%;
  background-color: green;
  padding: 14.65%; }

.explanation > * {
  max-width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem; }

.participation {
  order: 1;
  width: 150vw;
  height: 150vw;
  border-radius: 50%;
  background-color: orange;
  padding: 14.65%; }

.participation > * {
  max-width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem; }

.benefits {
  order: 2;
  width: 90vw;
  height: 90vw;
  border-radius: 50%;
  background-color: purple;
  padding: 14.65%; }

.requirements {
  order: 3;
  width: 250vw;
  height: 250vw;
  border-radius: 50%;
  background-color: grey; }

.requirements > * {
  max-width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem; }

.design-selection {
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
  background-color: yellow;
  padding: 14.65%; }

.design-archives {
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  background-color: brown; }

.zen-resources {
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  background-color: teal; }

footer {
  order: 5;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background-color: darkorange; }

/*# sourceMappingURL=style.css.map */
